Web References/DBInfoWS/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TestConn">
        <s:complexType />
      </s:element>
      <s:element name="TestConnResponse">
        <s:complexType />
      </s:element>
      <s:element name="setTiptopPreAccountList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setTiptopPreAccountListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setTiptopPreAccountListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setTiptopPreAccountListTest2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="setTiptopPreAccountListTest2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="setTiptopPreAccountListTest2Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPayNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPayNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPayNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTipTopAccountNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTipTopAccountNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTipTopAccountNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delTiptopPreAccountNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delTiptopPreAccountNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delTiptopPreAccountNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CorpID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PreInvoiceNo" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPayStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPayStatusResult" type="tns:SendARReturn" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SendARReturn">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IsSuccess" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountNo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="AccountYear" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="delALLTiptopPreAccountNo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Argu1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Argu2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delALLTiptopPreAccountNoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="delALLTiptopPreAccountNoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTiptop">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Payee" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendTiptopResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendTiptopResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTiptopDBInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTiptopDBInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTiptopDBInfoResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="SendARReturn" nillable="true" type="tns:SendARReturn" />
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TestConnSoapIn">
    <wsdl:part name="parameters" element="tns:TestConn" />
  </wsdl:message>
  <wsdl:message name="TestConnSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnResponse" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListSoapIn">
    <wsdl:part name="parameters" element="tns:setTiptopPreAccountList" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListSoapOut">
    <wsdl:part name="parameters" element="tns:setTiptopPreAccountListResponse" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListTest2SoapIn">
    <wsdl:part name="parameters" element="tns:setTiptopPreAccountListTest2" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListTest2SoapOut">
    <wsdl:part name="parameters" element="tns:setTiptopPreAccountListTest2Response" />
  </wsdl:message>
  <wsdl:message name="getPayNoSoapIn">
    <wsdl:part name="parameters" element="tns:getPayNo" />
  </wsdl:message>
  <wsdl:message name="getPayNoSoapOut">
    <wsdl:part name="parameters" element="tns:getPayNoResponse" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoSoapIn">
    <wsdl:part name="parameters" element="tns:getTipTopAccountNo" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoSoapOut">
    <wsdl:part name="parameters" element="tns:getTipTopAccountNoResponse" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoSoapIn">
    <wsdl:part name="parameters" element="tns:delTiptopPreAccountNo" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoSoapOut">
    <wsdl:part name="parameters" element="tns:delTiptopPreAccountNoResponse" />
  </wsdl:message>
  <wsdl:message name="getNoSoapIn">
    <wsdl:part name="parameters" element="tns:getNo" />
  </wsdl:message>
  <wsdl:message name="getNoSoapOut">
    <wsdl:part name="parameters" element="tns:getNoResponse" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapIn">
    <wsdl:part name="parameters" element="tns:getStatus" />
  </wsdl:message>
  <wsdl:message name="getStatusSoapOut">
    <wsdl:part name="parameters" element="tns:getStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusSoapIn">
    <wsdl:part name="parameters" element="tns:GetPayStatus" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusSoapOut">
    <wsdl:part name="parameters" element="tns:GetPayStatusResponse" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoSoapIn">
    <wsdl:part name="parameters" element="tns:delALLTiptopPreAccountNo" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoSoapOut">
    <wsdl:part name="parameters" element="tns:delALLTiptopPreAccountNoResponse" />
  </wsdl:message>
  <wsdl:message name="SendTiptopSoapIn">
    <wsdl:part name="parameters" element="tns:SendTiptop" />
  </wsdl:message>
  <wsdl:message name="SendTiptopSoapOut">
    <wsdl:part name="parameters" element="tns:SendTiptopResponse" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetTiptopDBInfo" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetTiptopDBInfoResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnHttpGetIn" />
  <wsdl:message name="TestConnHttpGetOut" />
  <wsdl:message name="setTiptopPreAccountListTest2HttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListTest2HttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPayNoHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPayNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getNoHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getStatusHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusHttpGetIn">
    <wsdl:part name="CorpID" type="s:string" />
    <wsdl:part name="PreInvoiceNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusHttpGetOut">
    <wsdl:part name="Body" element="tns:SendARReturn" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoHttpGetIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendTiptopHttpGetIn">
    <wsdl:part name="Payee" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendTiptopHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoHttpGetIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="TestConnHttpPostIn" />
  <wsdl:message name="TestConnHttpPostOut" />
  <wsdl:message name="setTiptopPreAccountListTest2HttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
  </wsdl:message>
  <wsdl:message name="setTiptopPreAccountListTest2HttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getPayNoHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getPayNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getTipTopAccountNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delTiptopPreAccountNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getNoHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="getStatusHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="getStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusHttpPostIn">
    <wsdl:part name="CorpID" type="s:string" />
    <wsdl:part name="PreInvoiceNo" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPayStatusHttpPostOut">
    <wsdl:part name="Body" element="tns:SendARReturn" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoHttpPostIn">
    <wsdl:part name="Argu1" type="s:string" />
    <wsdl:part name="Argu2" type="s:string" />
  </wsdl:message>
  <wsdl:message name="delALLTiptopPreAccountNoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="SendTiptopHttpPostIn">
    <wsdl:part name="Payee" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SendTiptopHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoHttpPostIn">
    <wsdl:part name="key" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTiptopDBInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="TestConn">
      <wsdl:input message="tns:TestConnSoapIn" />
      <wsdl:output message="tns:TestConnSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountList">
      <wsdl:input message="tns:setTiptopPreAccountListSoapIn" />
      <wsdl:output message="tns:setTiptopPreAccountListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <wsdl:input message="tns:setTiptopPreAccountListTest2SoapIn" />
      <wsdl:output message="tns:setTiptopPreAccountListTest2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <wsdl:input message="tns:getPayNoSoapIn" />
      <wsdl:output message="tns:getPayNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <wsdl:input message="tns:getTipTopAccountNoSoapIn" />
      <wsdl:output message="tns:getTipTopAccountNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <wsdl:input message="tns:delTiptopPreAccountNoSoapIn" />
      <wsdl:output message="tns:delTiptopPreAccountNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <wsdl:input message="tns:getNoSoapIn" />
      <wsdl:output message="tns:getNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusSoapIn" />
      <wsdl:output message="tns:getStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根據法人和預結報單號獲取結報狀態和時間</wsdl:documentation>
      <wsdl:input message="tns:GetPayStatusSoapIn" />
      <wsdl:output message="tns:GetPayStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <wsdl:input message="tns:delALLTiptopPreAccountNoSoapIn" />
      <wsdl:output message="tns:delALLTiptopPreAccountNoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">測試獲取連接字符串</wsdl:documentation>
      <wsdl:input message="tns:SendTiptopSoapIn" />
      <wsdl:output message="tns:SendTiptopSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查詢財會法人資料庫</wsdl:documentation>
      <wsdl:input message="tns:GetTiptopDBInfoSoapIn" />
      <wsdl:output message="tns:GetTiptopDBInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="TestConn">
      <wsdl:input message="tns:TestConnHttpGetIn" />
      <wsdl:output message="tns:TestConnHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <wsdl:input message="tns:setTiptopPreAccountListTest2HttpGetIn" />
      <wsdl:output message="tns:setTiptopPreAccountListTest2HttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <wsdl:input message="tns:getPayNoHttpGetIn" />
      <wsdl:output message="tns:getPayNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <wsdl:input message="tns:getTipTopAccountNoHttpGetIn" />
      <wsdl:output message="tns:getTipTopAccountNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <wsdl:input message="tns:delTiptopPreAccountNoHttpGetIn" />
      <wsdl:output message="tns:delTiptopPreAccountNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <wsdl:input message="tns:getNoHttpGetIn" />
      <wsdl:output message="tns:getNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusHttpGetIn" />
      <wsdl:output message="tns:getStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根據法人和預結報單號獲取結報狀態和時間</wsdl:documentation>
      <wsdl:input message="tns:GetPayStatusHttpGetIn" />
      <wsdl:output message="tns:GetPayStatusHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <wsdl:input message="tns:delALLTiptopPreAccountNoHttpGetIn" />
      <wsdl:output message="tns:delALLTiptopPreAccountNoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">測試獲取連接字符串</wsdl:documentation>
      <wsdl:input message="tns:SendTiptopHttpGetIn" />
      <wsdl:output message="tns:SendTiptopHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查詢財會法人資料庫</wsdl:documentation>
      <wsdl:input message="tns:GetTiptopDBInfoHttpGetIn" />
      <wsdl:output message="tns:GetTiptopDBInfoHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="TestConn">
      <wsdl:input message="tns:TestConnHttpPostIn" />
      <wsdl:output message="tns:TestConnHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <wsdl:input message="tns:setTiptopPreAccountListTest2HttpPostIn" />
      <wsdl:output message="tns:setTiptopPreAccountListTest2HttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <wsdl:input message="tns:getPayNoHttpPostIn" />
      <wsdl:output message="tns:getPayNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <wsdl:input message="tns:getTipTopAccountNoHttpPostIn" />
      <wsdl:output message="tns:getTipTopAccountNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <wsdl:input message="tns:delTiptopPreAccountNoHttpPostIn" />
      <wsdl:output message="tns:delTiptopPreAccountNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <wsdl:input message="tns:getNoHttpPostIn" />
      <wsdl:output message="tns:getNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <wsdl:input message="tns:getStatusHttpPostIn" />
      <wsdl:output message="tns:getStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">根據法人和預結報單號獲取結報狀態和時間</wsdl:documentation>
      <wsdl:input message="tns:GetPayStatusHttpPostIn" />
      <wsdl:output message="tns:GetPayStatusHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <wsdl:input message="tns:delALLTiptopPreAccountNoHttpPostIn" />
      <wsdl:output message="tns:delALLTiptopPreAccountNoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">測試獲取連接字符串</wsdl:documentation>
      <wsdl:input message="tns:SendTiptopHttpPostIn" />
      <wsdl:output message="tns:SendTiptopHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">查詢財會法人資料庫</wsdl:documentation>
      <wsdl:input message="tns:GetTiptopDBInfoHttpPostIn" />
      <wsdl:output message="tns:GetTiptopDBInfoHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConn">
      <soap:operation soapAction="http://tempuri.org/TestConn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountList">
      <soap:operation soapAction="http://tempuri.org/setTiptopPreAccountList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <soap:operation soapAction="http://tempuri.org/setTiptopPreAccountListTest2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <soap:operation soapAction="http://tempuri.org/getPayNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <soap:operation soapAction="http://tempuri.org/getTipTopAccountNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <soap:operation soapAction="http://tempuri.org/delTiptopPreAccountNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <soap:operation soapAction="http://tempuri.org/getNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <soap:operation soapAction="http://tempuri.org/GetPayStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <soap:operation soapAction="http://tempuri.org/delALLTiptopPreAccountNo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <soap:operation soapAction="http://tempuri.org/SendTiptop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <soap:operation soapAction="http://tempuri.org/GetTiptopDBInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestConn">
      <soap12:operation soapAction="http://tempuri.org/TestConn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountList">
      <soap12:operation soapAction="http://tempuri.org/setTiptopPreAccountList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <soap12:operation soapAction="http://tempuri.org/setTiptopPreAccountListTest2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <soap12:operation soapAction="http://tempuri.org/getPayNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <soap12:operation soapAction="http://tempuri.org/getTipTopAccountNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <soap12:operation soapAction="http://tempuri.org/delTiptopPreAccountNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <soap12:operation soapAction="http://tempuri.org/getNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <soap12:operation soapAction="http://tempuri.org/getStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <soap12:operation soapAction="http://tempuri.org/GetPayStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <soap12:operation soapAction="http://tempuri.org/delALLTiptopPreAccountNo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <soap12:operation soapAction="http://tempuri.org/SendTiptop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <soap12:operation soapAction="http://tempuri.org/GetTiptopDBInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="TestConn">
      <http:operation location="/TestConn" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <http:operation location="/setTiptopPreAccountListTest2" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <http:operation location="/getPayNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <http:operation location="/getTipTopAccountNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <http:operation location="/delTiptopPreAccountNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <http:operation location="/getNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <http:operation location="/getStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <http:operation location="/GetPayStatus" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <http:operation location="/delALLTiptopPreAccountNo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <http:operation location="/SendTiptop" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <http:operation location="/GetTiptopDBInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="TestConn">
      <http:operation location="/TestConn" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="setTiptopPreAccountListTest2">
      <http:operation location="/setTiptopPreAccountListTest2" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPayNo">
      <http:operation location="/getPayNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTipTopAccountNo">
      <http:operation location="/getTipTopAccountNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delTiptopPreAccountNo">
      <http:operation location="/delTiptopPreAccountNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNo">
      <http:operation location="/getNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStatus">
      <http:operation location="/getStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPayStatus">
      <http:operation location="/GetPayStatus" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delALLTiptopPreAccountNo">
      <http:operation location="/delALLTiptopPreAccountNo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendTiptop">
      <http:operation location="/SendTiptop" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTiptopDBInfo">
      <http:operation location="/GetTiptopDBInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.130.14.103/ZYWuliu4TiptopJiebao/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.130.14.103/ZYWuliu4TiptopJiebao/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://10.130.14.103/ZYWuliu4TiptopJiebao/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://10.130.14.103/ZYWuliu4TiptopJiebao/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>